<h1>Dice</h1>



<% dice1=rand(1..6)%>
<% dice2=rand(1..6)%>
<img src="/images/dice/<%=dice1%>.svg">
<img src="/images/dice/<%=dice2%>.svg">

<p>The total is <%= dice2+dice1%>

<p>
<a href="/dice">Roll Again</a>
<a href="/Tacos">Go to tacos page</a>
</p>

